#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.1rem;
  padding: 0.5rem;
}

.inputContainer > input {
  font-size: 1rem;
  padding: 8px 10px;
  width: 50px;
  border-radius: 5px;
  outline: none;
}

.inputContainer > input:hover {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
}
