/* Seletor :nth-child() */
li:nth-child(2) {
  color: #f00;
}

/* mutiplos de 3*/
li:nth-child(3n) {
  color: #00f;
}

li:first-child {
  color: rgb(255, 174, 0);
}

li:last-child {
  color: rgb(255, 0, 179);
}

li:not(:first-child) {
  background-color: #dda0dd;
}

/* pseudos elementos */
li::before {
  content: "(antes) ";
}

li::after {
  content: " (depois)";
}

/* Seletor de estado */
li:hover {
  background-color: #999;
  color: #0f0;
  cursor: pointer;
}
