<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Não sei porque mas o caminho só dá certo assim -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bulma.min.css" />
    <title>Lista de Tarefas</title>
  </head>

  <body>
    <%- include("../layouts/menu", {title: "TODO-List"}) %> <%-
    include("../layouts/main", {title: "TODO-List"}) %>
  </body>
</html>
